# Visual Studio Code
**/.vscode
**/__pycache__/

# Directories
**/cache
**/checkpoints
**/clients
**/datasets
**/keys
**/logs
**/not_ready
**/old_versions
**/wandb

# Extensions
**.env

# Files
daics.py