# Visual Studio Code
**/.vscode
**/__pycache__/

# Directories
**/cache
**/checkpoints
**/datasets
**/keys
**/wandb

models/*

!models/threshold_networks/
!models/wide_deep_networks/

!models/threshold_networks/*
!models/wide_deep_networks/*

# Extensions
**.env

# Files
daics.py