# Visual Studio Code
**/.vscode
**/__pycache__/

# Directories
**/cache
**/datasets
**/keys
**/logs
**/not_ready
**/old_versions
**/wandb

plots/project/aggregated_data
plots/project/raw_data

# Extensions
**.env